In [1]:
import pandas as pd
df = pd.read_csv('auto-mpg.csv')

In [2]:
df = pd.read_csv('auto-mpg.csv')

In [3]:
df.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

In [4]:
import matplotlib.pyplot as plt
%matplotlib inline

In [9]:
#plt.scatter(df['mpg'], df['model_year'])

In [10]:
df.corr()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year
mpg,1.000000,-0.775396,-0.804203,-0.778427,-0.831741,0.420289,0.579267
cylinders,-0.775396,1.000000,0.950721,0.842983,0.896017,-0.505419,-0.348746
displacement,-0.804203,0.950721,1.000000,0.897257,0.932824,-0.543684,-0.370164
horse_power,-0.778427,0.842983,0.897257,1.000000,0.864538,-0.689196,-0.416361
weight,-0.831741,0.896017,0.932824,0.864538,1.000000,-0.417457,-0.306564
acceleration,0.420289,-0.505419,-0.543684,-0.689196,-0.417457,1.000000,0.288137
model_year,0.579267,-0.348746,-0.370164,-0.416361,-0.306564,0.288137,1.000000

In [14]:
import numpy as np
import seaborn as sns

#ax = sns.heatmap(df, vmin=0, vmax=1)

In [15]:
#plt.scatter(df['mpg'], df['model_year'])

In [17]:
#X = df['cylinders', 'mpg', 'displacement'] # independent features
#Y = df['weight'] # dependent features

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
#X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2) # test data will be 20% while train will be 80%

In [20]:
#len(X-train) to verify from the above

In [21]:
# The X_train selects random sample form the data, hence, everytime you run, it changes from the selection

# but for your selection to be the same, use random_state=10

#X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=10)

In [22]:
from sklearn.linear_model import LinearRegression
clf =LinearRegression()

In [24]:
#clf.fit(X_train, Y_train)

In [25]:
# to predict the X_test
# clf.predict(X_test)

In [26]:
# to check the accuracy of the predicted model for X_test

In [ ]:
#clf.score(X_test, y_test)
# Double check if the accuracy is similar to above