# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [27]:
# import reduce from functools, numpy and pandas

from functools import reduce
import numpy as np
import pandas as pd

# Challenge 1 - Mapping

We can use map in order to apply functions to iterables. In the first challenge, please convert the following list of numbers to integers.

In [9]:
numlist = [1.34, 5.342, 3.425, 7.464, 5.282]

# your code here
print(list(map((lambda x: int(x)), numlist)))

[1, 5, 3, 7, 5]

What happens if you convert the list to a set of integers instead?

In [10]:
# your code here
print(set(list((map((lambda x: int(x)), numlist)))))

{1, 3, 5, 7}

In a similar fashion, please convert the following list of strings to (all) uppercase.

In [11]:
names = ['alfred', 'alberta', 'toby, maria']

# your code here
print(list(map((lambda x: x.upper()), names)))

['ALFRED', 'ALBERTA', 'TOBY, MARIA']

#### Now, we will use the map function to clean up a words in a book.

In the following cell, we will read a text file containing the book The Prophet by Khalil Gibran.

In [12]:
# Run this code:

location = '../58585-0.txt'
with open(location, 'r', encoding="utf8") as f:
    prophet = f.read().split(' ')

#### Let's remove the first 568 words since they contain information about the book but are not part of the book itself. 

Do this by removing from `prophet` elements 0 through 567 of the list (you can also do this by keeping elements 568 through the last element).

In [13]:
# Your code here:

prophet = prophet[568:]

If you look through the words, you will find that many words have a reference attached to them. For example, let's look at words 1 through 10.

In [14]:
# Run this code:

prophet[1:10]

['the{7}', 'chosen', 'and', 'the\nbeloved,', 'who', 'was', 'a', 'dawn', 'unto']

#### The next step is to create a function that will remove references. 

We will do this by splitting the string on the `{` character and keeping only the part before this character. Write your function below.

In [15]:
def reference(x):
    '''
    Input: A string
    Output: The string with references removed
    
    Example:
    Input: 'the{7}'
    Output: 'the'
    '''
    
    # Your code here:
    
    return x.split('{')[0]

Now that we have our function, use the `map()` function to apply this function to our book, The Prophet. Return the resulting list to a new list called `prophet_reference`

In [16]:
# Your code here:

prophet_reference = list(map(reference, prophet))

Another thing you may have noticed is that some words contain a line break. Let's write a function to split those words. Our function will return the string split on the character `\n`. Write your function in the cell below.

In [17]:
def line_break(x):
    '''
    Input: A string
    Output: A list of strings split on the line break (\n) character
        
    Example:
    Input: 'the\nbeloved'
    Output: ['the', 'beloved']
    '''
    
    # Your code here:
    
    return x.split('\n')

Apply the `line_break` function to the `prophet_reference` list. Name the new list `prophet_line`.

In [18]:
# Your code here:

prophet_line = list(map(line_break,prophet_reference))

If you look at the elements of `prophet_line`, you will see that the function returned lists and not strings. Our list is now a list of lists. Flatten the list using list comprehension. Assign this new list to `prophet_flat`.

In [19]:
# Your code here:

prophet_flat = [word for lst in prophet_line for word in lst]

# Challenge 2 - Filtering

We can use filter in order to remove elements from an iterable

In a first step, lets practice using the filter function. Please write a function which checks whether or not a number is divisible by 10 and returns True or False. (hint: this works similarly as checking if a number is even, aka divisible by 2) Call this function div10.

In [32]:
# Your code here:

def div10(x):
    if x%10==0:
        return x

Now create a list of all number from 0 to 100. Then apply filter with your function created above in order to keep only the elements which are divisible by 10.

In [40]:
# Your code here:

l = [i for i in range(0, 101)]
list(filter(div10, l))

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

Now accomplish the same in one line of code using a lambda function!

In [43]:
# Your code here:
list(filter((lambda x: x if x%10==0 else None), l))

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

#### Back to our book from above.

When printing out a few words from the book, we see that there are words that we may not want to keep if we choose to analyze the corpus of text. Below is a list of words that we would like to get rid of. Create a function that will return false if it contains a word from the list of words specified and true otherwise.

In [23]:
def word_filter(x):
    '''
    Input: A string
    Output: true if the word is not in the specified list and false if the word is in the list
        
    Example:
    word list = ['and', 'the']
    Input: 'and'
    Output: False
    
    Input: 'John'
    Output: True
    '''
    
    word_list = ['and', 'the', 'a', 'an']
    
    # Your code here:
    
    return False if x in word_list else True

Use the `filter()` function to filter out the words speficied in the `word_filter()` function. Store the filtered list in the variable `prophet_filter`.

In [24]:
# Your code here:

prophet_filter = list(filter(word_filter, prophet_flat))

# Bonus Challenge - Part 1

Rewrite the `word_filter` function above to not be case sensitive.

In [25]:
def word_filter_case(x):
   
    word_list = ['and', 'the', 'a', 'an']
    
    # Your code here:
    
    return False if x.lower() in word_list else True

In [26]:
prophet_filter_case = list(filter(word_filter_case, prophet_flat))

# Challenge 3 - Reducing

We can use reduce in order to put elements of an iterable together into a single item.

Write a lambda function which puts to strings together. Then use reduce to apply this function to the list below. Your output should be "banana".

In [31]:
banana = ['b', 'a', 'n', 'a', 'n', 'a']

reduce(lambda x, y: x+y, banana)

'banana'

#### In a last step, back to our book from above. Now that we have significantly cleaned up our text corpus, let's use the `reduce()` function to put the words back together into one long string separated by spaces. 

We will start by writing a function that takes two strings and concatenates them together with a space between the two strings.

In [17]:
def concat_space(a, b):
    '''
    Input:Two strings
    Output: A single string separated by a space
        
    Example:
    Input: 'John', 'Smith'
    Output: 'John Smith'
    '''
    
    # Your code here:
    
    return a + ' ' + b

Use the function above to reduce the text corpus in the list `prophet_filter` into a single string. Assign this new string to the variable `prophet_string`.

In [18]:
# Your code here:

prophet_string = reduce(concat_space, prophet_filter)

# Challenge 4 - Applying Functions to DataFrames

#### Our next step is to use the apply function to a dataframe and transform all cells.

To do this, we will load a dataset below and then write a function that will perform the transformation.

In [23]:
# Run this code:

# The dataset below contains information about pollution from PM2.5 particles in Beijing 

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/00381/PRSA_data_2010.1.1-2014.12.31.csv"
pm25 = pd.read_csv(url)

Let's look at the data using the `head()` function.

In [24]:
# Your code here:

pm25.head()

   No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0   1  2010      1    1     0    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1   2  2010      1    1     1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2   3  2010      1    1     2    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3   4  2010      1    1     3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4   5  2010      1    1     4    NaN   -20 -12.0  1018.0   NW  12.97   0   0

The next step is to create a function that divides a cell by 24 to produce an hourly figure. Write the function below.

In [25]:
def hourly(x):
    '''
    Input: A numerical value
    Output: The value divided by 24
        
    Example:
    Input: 48
    Output: 2.0
    '''
    
    # Your code here:
    
    return x / 24

Apply this function to the columns `Iws`, `Is`, and `Ir`. Store this new dataframe in the variable `pm25_hourly`.

In [26]:
# Your code here:

pm25_hourly = pm25[['Iws', 'Is', 'Ir']].apply(hourly)

#### Our last challenge will be to create an aggregate function and apply it to a select group of columns in our dataframe.

Write a function that returns the standard deviation of a column divided by the length of a column minus 1. Since we are using pandas, do not use the `len()` function. One alternative is to use `count()`. Also, use the numpy version of standard deviation.

In [27]:
def sample_sd(x):
    '''
    Input: A Pandas series of values
    Output: the standard deviation divided by the number of elements in the series
        
    Example:
    Input: pd.Series([1,2,3,4])
    Output: 0.3726779962
    '''
    
    # Your code here:
    
    return np.std(x) / (x.count() - 1)

Apply the `sample_sd()` function to the columns `Iws`, `Is`, and `Ir` and print the result

In [29]:
# Your code here:

pm25[['Iws', 'Is', 'Ir']].apply(sample_sd)

Iws    0.001141
Is     0.000017
Ir     0.000032
dtype: float64