# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import numpy as np
import pandas as pd
from scipy import stats

In [27]:
'''
95% Confidence Interval (CI):
A 95% CI is a range of values that you can be 95% sure it contains the true mean of the population.

For a 95% CI, it means that if we take our population and sample it 100 times, 95 times of those 100, 
we will produce a confidence interval that contains the true mean of the population (remember we don't 
know this true mean of the population, we are estimating it using the sample). If a large portion of our
confidence intervals do not contain what the hypothesys claims to be the mean (the null hypothesis, 
the one we want to reject), then we can reject the null hypothesis (and support our alternative).

'''

"\n95% Confidence Interval (CI):\nA 95% CI is a range of values that you can be 95% sure it contains the true mean of the population.\n\nFor a 95% CI, it means that if we take our population and sample it 100 times, 95 times of those 100, \nwe will produce a confidence interval that contains the true mean of the population (remember we don't \nknow this true mean of the population, we are estimating it using the sample). If a large portion of our\nconfidence intervals do not contain what the hypothesys claims to be the mean (the null hypothesis, \nthe one we want to reject), then we can reject the null hypothesis (and support our alternative).\n\n"

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [29]:
# Your code here:

salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [30]:
# Your code here:

salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [31]:
# Your code here:

salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [32]:
# Your code here:

salaries.Department.value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [ ]:
'''
We will test whether the hourly wage of all hourly workers is significantly different from $30/hr
- our hypothesis/what we want to prove (alternative hypothesis) is that the hourly wage is different from $30/hr
- null hypothesis: the hourly wage is EQUAL to $30/hr
'''

In [34]:
# Your code here:

from scipy.stats import ttest_1samp

ttest_1samp(salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate'], 30)

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

In [35]:
'''
For a 95% confidence interval, we have an alpha of 5% (0.05).

If the p-value is less than alpha (i.e., it is significant), then the confidence 
interval will NOT contain the hypothesized mean (30) - https://blog.minitab.com/blog/alphas-p-values-confidence-intervals-oh-my

As our p-value is p<0.05, we can reject the null hypothesis and
we can safely say that the hourly wage 
of all hourly workers is significantly different from $30/hr
(with a probability of making a wrong decison of 5%).

'''

'\nFor a 95% confidence interval, we have an alpha of 5% (0.05).\n\nIf the p-value is less than alpha (i.e., it is significant), then the confidence \ninterval will NOT contain the hypothesized mean (30) - https://blog.minitab.com/blog/alphas-p-values-confidence-intervals-oh-my\n\nAs our p-value is p<0.05, we can reject the null hypothesis and\nwe can safely say that the hourly wage \nof all hourly workers is significantly different from $30/hr\n(with a probability of making a wrong decison of 5%).\n\n'

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [10]:
'''
The police force chief claims that salaries this year are higher than last year's mean of $86000/year. 
Therefore we play devil's advocate and say the opposite, to then prove this wrong.
- alternative hypothesis: salaries this year > $86000/year
- null hypothesis (status quo): salaries this year < $86000/year
'''

"\nThe police force chief claims that salaries this year are higher than last year's mean of $86000/year. \nTherefore we play devil's advocate and say the opposite, to then prove this wrong.\n- alternative hypothesis: salaries this year > $86000/year\n- null hypothesis (status quo): salaries this year < $86000/year\n"

In [37]:
# Your code here:

ttest_1samp(salaries[(salaries['Salary or Hourly'] == 'Salary') & (salaries['Department'] == 'POLICE')]['Annual Salary'], 86000)

Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.0020603403550965137)

In [38]:

'''
This is a one-sided hypothesis, so we need that the p-value / 2 is smaller than 0.05. In other words, we need
p < 0.10. Furthermore, since our null hypothesis is smaller than a value, to reject it we need to be in
the critical value zone on the right side of the distribution (thus we need a positive test statistic).

So here, to reject the null  hypothesis, our p-value has to be p < 0.10.
Which is the case (p-value=0.0020603403550965137). Furthermore, the test statistic is positive.
So we can safely say that salaries, this year, for the police department, 
are significantly higher than last year's mean of $86000/year.
'''

"\nThis is a one-sided hypothesis, so we need that the p-value / 2 is smaller than 0.05. In other words, we need\np < 0.10. Furthermore, since our null hypothesis is smaller than a value, to reject it we need to be in\nthe critical value zone on the right side of the distribution (thus we need a positive test statistic).\n\nSo here, to reject the null  hypothesis, our p-value has to be p < 0.10.\nWhich is the case (p-value=0.0020603403550965137). Furthermore, the test statistic is positive.\nSo we can safely say that salaries, this year, for the police department, \nare significantly higher than last year's mean of $86000/year.\n"

Using the `crosstab` function, find the department that has the most hourly workers.

In [39]:
# Your code here:

pd.crosstab(salaries['Department'], salaries['Salary or Hourly'])

Salary or Hourly       Hourly  Salary
Department
ADMIN HEARNG                0      39
ANIMAL CONTRL              19      62
AVIATION                 1082     547
BOARD OF ELECTION           0     107
BOARD OF ETHICS             0       8
BUDGET & MGMT               2      44
BUILDINGS                   0     269
BUSINESS AFFAIRS            7     164
CITY CLERK                  0      84
CITY COUNCIL               64     347
COMMUNITY DEVELOPMENT       4     203
COPA                        0     116
CULTURAL AFFAIRS            7      58
DISABILITIES                0      28
DoIT                        0      99
FAMILY & SUPPORT          287     328
FINANCE                    44     516
FIRE                        2    4639
GENERAL SERVICES          765     215
HEALTH                      3     485
HUMAN RELATIONS             0      16
HUMAN RESOURCES             4      75
INSPECTOR GEN               0      87
LAW                        40     367
LICENSE APPL COMM           0       1
MAYOR'S OFFICE              8      77
OEMC                     1273     829
POLICE                     10   13404
POLICE BOARD                0       2
PROCUREMENT                 2      90
PUBLIC LIBRARY            299     716
STREETS & SAN            1862     336
TRANSPORTN                725     415
TREASURER                   0      22
WATER MGMNT              1513     366

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [40]:
'''
- our hypothesis: hourly wage is less than $35/hour
- null hypothesis: hourly wage is higher than $35/hour (and we will try to reject this.)
'''

'\n- our hypothesis: hourly wage is less than $35/hour\n- null hypothesis: hourly wage is higher than $35/hour (and we will try to reject this.)\n'

In [41]:
# Your code here:

ttest_1samp(salaries[(salaries['Salary or Hourly'] == 'Hourly') & (salaries['Department'] == 'STREETS & SAN')]['Hourly Rate'], 35)

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=3.3378530564707717e-21)

In [ ]:
'''
So again, this is a one-sided test. We need a p-value that is less than 0.10, and here our null hypothesis
is that it is greater than a value. Therefore, to reject, we need to be in the critical region on the left side
of the distribution and need a negative test statistic.
As we got a p-value < 0.10 and a negative test statistic, we can reject the null hypothesis, and say that their 
hourly wage is statistically (significantly less) than 35$/hour.
'''

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [ ]:
# Your code here:

from scipy.stats import t, sem


a = salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate']
t.interval(0.95, df=len(a)-1, loc=np.mean(a), scale=sem(a))

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [ ]:
# Your code here:

b = salaries[(salaries['Salary or Hourly'] == 'Salary') & (salaries['Department'] == 'POLICE')]['Annual Salary']
t.interval(0.95, df=len(b)-1, loc=np.mean(b), scale=sem(b))

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here:

from statsmodels.stats.proportion import proportions_ztest


stat, pval = proportions_ztest(count=salaries['Salary or Hourly'].value_counts()[1], nobs=salaries.shape[0], value=0.25)

# Extra Resource: Custom function for one-sided test

In [8]:
def one_sided_test(data, val, direction_null = 'greater', alpha = 0.05):
    results = stats.ttest_1samp(data, val)
    if direction_null == 'greater':
        if (results[0] < 0) & (results[1]/2 < float(alpha)):
            print("Reject null hypothesis, mean is less than {}.".format(val))
        else:
            print("Fail to reject null hypothesis.")
    elif direction_null == 'smaller':
        if (results[0] > 0) & (results[1]/2 < float(alpha)):
            print("Reject null hypothesis, mean is greater than {}.".format(val))
        else:
            print("Fail to reject null hypothesis.")
    else:
        raise ValueError("Please specify a valid direction for the one-sided test.")